@model CtrlS.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<head>
    <style>
        .form-horizontal .form-group {
            margin-left: 450px;
        }

        .col-md-2 {
            font-size: 15px;
        }

        input[type="file"] {
            display: block;
            margin-left: 200px;
            font-size: 15px;
        }

        .btn:not(:disabled):not(.disabled) {
            margin-left: 80px;
            margin-top: 10px;
            font-family: 'Varela Round', sans-serif;
            font-size: 15px;
        }

            .btn:not(:disabled):not(.disabled):hover {
                color: white;
                background-color: darkred;
            }

        textarea {
            width: 1000px;
            resize: both;
            font-size: 15px;
        }

        .form-horizontal {
            width: 100%;
        }
        .max-width{
            width: 1300px;
            justify-content:center;
            align-items:center;
            margin: auto;
        }
    </style>
</head>
<body>

    <div class="max-width">
            <h2 style="text-align:center; color:darkred; font-weight: bold; margin-top:40px; font-size:40px;">Thêm Event Mới </h2>
            @Html.Raw(TempData["msg"])
            @using (Html.BeginForm("Create", "Events", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.DateTime)
                @Html.HiddenFor(model => model.DateTime2)
                @Html.HiddenFor(model => model.ImgName)
                @Html.HiddenFor(model => model.Status)
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10" style="margin:auto">
                            <label for="Type" style="font-size: 15px">Chọn loại ảnh:</label>
                            <select name="Type" id="Type">
                                <option value="event">Event</option>
                                <option value="banner">Banner</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBox("file", "", new { type = "file", multiple = "multiple", accept = "image/*" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div style="margin-left: 550px; font-family: 'Varela Round', sans-serif; font-size:15px;">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

</body>






