@model IEnumerable<CtrlS.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
    <style>
        * {
            font-size: 18px;
        }

        #content {
            height: 150px;
            overflow-y: scroll;
        }
    </style>
</head>
<h2 style="text-align:center; color:darkred; font-weight: bold; margin-top:40px; font-size:40px;">DANH SÁCH EVENTS </h2>
<p style="margin-left:150px;">
    <i class="fa-solid fa-file-pen">

    </i>
    @Html.ActionLink("Thêm", "Create")

</p>
<div class="table-wrapper" style="margin-top:30px;">
    <table class="table" style="width: 1300px; margin-left: auto; margin-right: auto; table-layout: fixed; word-wrap: break-word;">

        <tr style="background-color:black; color:white;">
            <th>
                Nội dung
            </th>
            <th>
                Hình ảnh
            </th>
            <th style="width:20%">
                Tên file ảnh
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th width="10%">
                Chức năng
            </th>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <img src="~/Content/Image/Events/@item.ImgName" width="100" height="auto" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @if (item.Status == 0)
                        {
                            <a href="@Url.Action("Status", "Events", new { @id = item.Id })"
                               class="btn btn-sm btn-warning"
                               style="width:70px;height:30px;stroke:azure;font-size:18px">
                                Off
                            </a>
                        }
                        else if (item.Status == 1)
                        {
                            <a href="@Url.Action("Status", "Events", new { @id = item.Id })"
                               class="btn btn-sm btn-success"
                               style="width:70px;height:30px;stroke:azure;font-size:18px">
                                On
                            </a>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
</div>