@model CtrlS.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<head>
    <style>
        body {
            font-size: 15px;
        }

        dl, ol, ul {
            margin-left: 500px;
            margin-top: 50px;
        }

        textarea {
            width: 1000px;
        }
        
        #content {
          width:500px;
            overflow-wrap:break-word;
         
        
        }
    </style>
</head>
<body>
    <h2 style="text-align:center; color:darkred; font-weight: bold; margin-top:40px; font-size:40px;">THÔNG TIN CHI TIẾT </h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Họ và tên")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Email")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayName("Tựa đề")
            </dt>

            <dd id="content">
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayName("Nội dung")
            </dt>

            <dd id="content">
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dt>
                @Html.DisplayName("Số điện thoại")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayName("Ngày và tháng")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

            <dt>
                @Html.DisplayName("Tình trạng")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p style="margin-left:700px;margin-top:30px; color:darkred">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </body> 