@model CtrlS.Models.Talent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<head>
    <style>
        .form-horizontal .form-group {
            margin-left: 450px;
            font-size: 15px;
        }

        .form-horizontal .control-label {
            font-size: 15px;
        }

        input[type="file"] {
            margin-left: -250px;
        }

        .btn:not(:disabled):not(.disabled) {
            margin-left: 10px;
            margin-top: 10px;
            font-family: 'Varela Round', sans-serif;
            font-size: 15px;
        }

            .btn:not(:disabled):not(.disabled):hover {
                color: white;
                background-color: darkred;
            }
    </style>
</head>
<body>
    <h2 style="text-align:center; color:darkred; font-weight: bold; margin-top:40px; font-size:40px;">CHỈNH SỬA </h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DateTime)
            @Html.HiddenFor(model => model.DateTime2)
            @Html.HiddenFor(model => model.Img)
            @Html.HiddenFor(model => model.ImgName)
            <div class="form-group">
                @Html.Label("Tên Talent", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Vai trò", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Role" id="Role">
                        <option value="Ca sĩ">Ca sĩ</option>
                        <option value="Diễn Viên">Diễn Viên</option>
                        <option value="MC">MC</option>
                        <option value="Rapper">Rapper</option>
                        <option value="Rocker">Rocker</option>
                        <option value="PG">PG</option>
                        <option value="PB">PB</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Img, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="width:500px;overflow-y:scroll; height:150px;">
                    @Html.DisplayFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.DisplayFor(model => model.ImgName, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    <img src="~/Img/@Model.ImgName" width="100" height="100" />
                    @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-group">
                    @Html.TextBox("file", "", new { type = "file", multiple = "multiple", accept = "image/*" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div style="margin-left: 550px; font-family: 'Varela Round', sans-serif; font-size:15px;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>